@import "../../assets/scss/variables.scss";

.footer {
  padding: $big-padding 0;
}

.footer-section {
  a {
    display: block;
  }
  .footer-title {
    text-transform: uppercase;
    padding-bottom: 25px;
  }
  .footer-link {
    color: $light-grey;
    padding: 3px 0;
  }
  .follow-icon {
    width: 25px;
    padding-right: 10px;
  }
}

hr {
  width: 100%;
  height: 1px;
  color: $light-grey;
  background-color: $light-grey;
  border: none;
}

@media (max-width: 767px) {
  .mobile-hide {
    display: none;
  }
}
