<div class="container footer">
  <div class="row">
    <hr>
    <div class="col-md-3 footer-section">
      <a class="footer-title">Jobs at</a>
      <a class="footer-link" routerLink="/home">Home</a>
      <a class="footer-link" routerLink="/jobs">Jobs</a>
      <a class="footer-link" routerLink="/about">About</a>
      <a class="footer-link" routerLink="/department">Department</a>
    </div>
    <div class="col-md-3 footer-section">
      <a class="footer-title">Information</a>
      <a class="footer-link" href="#">F.A.Q.</a>
      <a class="footer-link" href="#">Application process</a>
      <a class="footer-link" href="#">Privacy policy</a>
      <a class="footer-link" routerLink="/contact">Contact</a>
    </div>
    <div class="col-md-3 footer-section">
      <a class="footer-title">Follow us</a>
      <a class="footer-link"><i class="follow-icon fas fa-envelope"></i>Newsletter</a>
      <a class="footer-link"><i class="follow-icon fab fa-instagram"></i>Instagram</a>
      <a class="footer-link"><i class="follow-icon fab fa-twitter"></i>Twitter</a>
      <a class="footer-link"><i class="follow-icon fab fa-tumblr"></i>Tumblr</a>
      <a class="footer-link"><i class="follow-icon fab fa-linkedin-in"></i>LinkedIn</a>
    </div>
    <div class="col-md-3 footer-section">
      <a class="footer-title">Job alert</a>
      <a class="footer-link" href="#">Subscribe to our job alert</a>
    </div>
  </div>
</div>
