<div class="section job-title-wrapper">
  <div class="container job-title-container">
    <div class="header title">Purchasing Assistant</div>
    <div class="header place">Amsterdam, The Netherlands</div>
  </div>
</div>

<div class="container section job-form-wrapper">
  <h2 class="header header-dark-large title">Apply for the position of purchasing assistant</h2>
  <app-job-form></app-job-form>
</div>

<div class="section job-application-wrapper">
  <div class="container section job-application-container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="header header-dark-medium">
          Application procedure
        </h2>
        <ul class="application-list">
          <li>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </li>
          <li>
            Ded do eiusmod tempor incididunt ut labore et dolore magna.
          </li>
          <li>
            Ut enim ad minim veniam.
          </li>
          <li>
            Quis nostrud exercitation ullamco laboris.
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <h2 class="header header-dark-medium">
          Got a question?
        </h2>
        <div class="contact">
          <div class="contact-title">
            Please contact recruitment
          </div>
          <div class="contact-details">
            T. <a class="normal" href="tel:+312012345678">+31 20 123 456 78</a><br>
            Or <a class="lighter underlined" href="mailto:test@test.io">send us an email</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="continue lighter">
          <a class="lighter" href="#">Continue reading</a>
        </div>
      </div>
    </div>
  </div>
</div>
