@import "../../../assets/scss/variables.scss";

%blue-button {
  width: 100%;
  height: 40px;
  margin-bottom: 0;
  font-weight: bold;
  text-transform: uppercase;
  color: $white;
  background-color: $button-blue;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media (min-width: 768px) {
  .col-md-push-6 {
    left: 50%;
  }

  .col-md-pull-6 {
    right: 50%;
  }
}

.col-md-pull-6 {
  display: flex;
  align-items: flex-end;
}

.titled-row {
  padding-top: $medium-padding;
}

@media (max-width: 767px) {
  .motivation-group {
    padding-bottom: $medium-padding;
  }
  textarea {
    min-height: 0;
  }
}

@media (min-width: 768px) {
  textarea {
    min-height: 152px;
  }
}

input, textarea {
  border: 1px solid $border-grey;
  border-radius: 0;
}



input.ng-invalid.ng-touched {
  border: 1px solid red;
  color: red;
}

.input-label {
  font-weight: bold;
  padding-bottom: $small-padding;
}

.file-label {
  height: 40px;
  display: flex;
  align-items: center;
}

.flex-group {
  display: flex;
}

.wider-group {
  flex-grow: 3;
}

.smaller-group {
  flex-grow: 1;
  max-width: 175px;
}

.section-wrapper {
  display: flex;
  .upload-label {
    @extend %blue-button;
  }
  .no-bottom-margin {
    margin-bottom: 0;
  }
  input[type="file"] {
    display: none;
  }
}

.lighter-underlined {
  color: $light-grey;
  text-decoration: underline;
}

.submit {
  @extend %blue-button;
  border: none;
}

.apply-wrapper {
  display: flex;
  @media (min-width: 768px) and (max-width: 1200px) {
    flex-direction: column-reverse;
  }
  @media (min-width: 1200px) and (max-width: 787px) {
    align-items: center;
  }
}

.right-col {
  @media (max-width: 1200px) {
    padding-bottom: $small-padding;
  }
}
