@import "../../assets/scss/variables.scss";

.navbar {
  background: $black;
  color: $white;
  text-transform: uppercase;
  font-weight: bold;
  .navbar-brand {
    font-size: xx-large;
    font-family: 'Yanone Kaffeesatz', sans-serif;
  }
  li.nav-item {
    padding: 0 25px;
    .nav-link {
      color: $white;
      &--active {
        text-decoration: underline;
      }
    }
  }
  .search-input {
    min-width: 320px;
  }
}

@media (max-width: 991px) {
  .top-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .brand-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-brand {
    padding-left: $small-padding;
  }
  .countbar {
    display: none;
  }
  .searchbar, form, input.search-input {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .navbar-collapse {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .navbar {
    flex-wrap: wrap;
  }
  .navbar-collapse {
    flex-grow: 3;
    justify-content: center;
  }
  .navbar-brand, .countbar {
    flex-grow: 0.5;
    justify-content: center;
    text-align: right;
  }
  .countbar-mobile {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .countbar {
    width: 5%;
  }
  .searchbar, form, input.search-input {
    width: 95%;
  }
  form, input.search-input {
    width: 100%;
  }
}
