@import "../../assets/scss/variables.scss";

.navbar {
  background: $black;
  color: $white;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 3em;
  .logo {
    font-size: xx-large;
    font-family: 'Yanone Kaffeesatz', sans-serif;
  }
  .navbar-collapse {
    display: flex;
    justify-content: space-between;
    padding-left: 10em;
  }
  li.nav-item {
    padding: 0 25px;
    .nav-link {
      color: $white;
      &--active {
        text-decoration: underline;
      }
    }
  }
  .search-input {
    min-width: 320px;
  }
}
