<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="top-wrapper">
    <div class="brand-wrapper">
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarBlack"
              aria-controls="navbarBlack" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" routerLink="/">LOGO</a></div>
    <div class="countbar-mobile">
      <div>
        <i class="fas fa-suitcase"></i>
        <a>1</a>
      </div>
    </div>
  </div>

  <div class="collapse navbar-collapse" id="navbarBlack">
    <div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home" routerLinkActive="nav-link--active">Home<span
            class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/jobs" routerLinkActive="nav-link--active">Jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" routerLinkActive="nav-link--active">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/departments" routerLinkActive="nav-link--active">Departments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="nav-link--active">Contact</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="searchbar">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control search-input" type="search" placeholder="SEARCH FOR JOBS BY KEYWORD"
             aria-label="Search">
      <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
    </form>
  </div>
  <div class="countbar">
    <div>
      <i class="fas fa-suitcase"></i>
      <a>1</a>
    </div>
  </div>

</nav>

<router-outlet></router-outlet>

<app-footer></app-footer>
